COMPOSE_PROJECT_NAME=pelias
DOCKER_USER=1000
DOCKER_HOST=unix:///var/run/docker.sock
DATA_DIR=/home/z4k/pelias/data_test
PELIAS_CONFIG=/home/z4k/www/docker-pelias-geocoder/projects/italy-trentino/pelias.json
TEST_UI_PORT=80

